$color1: #D7263D;
$color2: #02182B;
$color3: #0197F6;
$color4: #448FA3;
$color5: #68C5DB;




.loggedInUser {
  text-align: center;
  min-width: 100px;
  color: white;
}


.mainNav {
  background-color: $color2 !important;
}

.navButton {
  background-color: $color4 !important;
  color: white !important;
  &:hover {
    background-color: $color1 !important;
  }
}
